@{
  ViewBag.Title = "Statistik";
}
<div id="chart-onlineoffline"></div>
<div id="chart-unterbrechungen"></div>

<script type="text/javascript" src="~/scripts/traingraph.js"></script>
<script type="text/javascript">
  loadStackColumnCharts();
</script>